header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;

  .region-header {
    display: flex;
    padding: 56px 20px;
    justify-content: space-between;
    width: calc(100% - 40px);
    transition: all linear 0.1s;

    .mobile-menu {
      border: 0;
      background-color: transparent;
    }

    &.scrolled {
      padding: 15px 20px;
    }

    img {
      width: 220px;
    }

    ul.menu {
      margin: 0;
      display: flex;

      li {
        a {
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 10px;
          display: block;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          &.is-active {
            color: $main-color;
          }
        }
      }
    }
  }
}
